@import 'supports/_vars.styl';
.section
	&_main
		.wrapper
			position static
	&_about
		padding 215px 0
		&:before, &:after
			content ''
			position fixed
			height 207px
			width 100%
		&:before
			top 0
			background linear-gradient(0, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 61.85%, #FFFFFF 100%)
		&:after
			bottom 0
			background linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 61.85%, #FFFFFF 100%)
		.wrapper
			position static
	&_why
		.wrapper
			position static
		.inner
			h3
				display none
				margin-bottom 30px
	&_services
		padding 150px 0 210px
		&:before, &:after
			content ''
			position fixed
			height 207px
			width 100%
			z-index 1
		&:before
			top 0
			background linear-gradient(0, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 61.85%, #FFFFFF 100%)
		&:after
			bottom 0
			background linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 61.85%, #FFFFFF 100%)
		.inner
			margin-bottom 30px
			display none
	&_call
		.inner
			display none
			margin-bottom 30px
		.btn
			text-transform uppercase
	&_special
		.wrapper
			position static
	&_portfolio
		padding 150px 0
		&:before, &:after
			content ''
			position fixed
			height 207px
			width 100%
			z-index 2
			pointer-events none
		&:before
			top 0
			background linear-gradient(0, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 61.85%, #FFFFFF 100%)
		&:after
			bottom 0
			background linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 61.85%, #FFFFFF 100%)
		.inner
			display none
			margin-bottom 30px
	&_contacts
		.wrapper
			position static


.main
	&-wrap
		display flex
		justify-content space-between
		align-items center
	&-left
		position relative
		max-width 270px
	&-right
		max-width 345px
		.title
			margin-bottom 35px
		p
			font-size 30px
			line-height 45px
	&-title
		font-size 155px
		line-height 100px
		font-weight 700
		word-break break-all
	&-abs
		position absolute
		&-text
			top 220px
			left 196px
			font-size 30px
			line-height 45px
		&-pic
			top 162px
			left -87px
			max-width 205px
			animation rotateSvg 10s linear infinite forwards
			animation-play-state paused
			will-change transform
			&:hover
				animation-play-state running
.about
	&-left
		position fixed
		max-width 379px
		pointer-events none
	&-right 
		margin-left auto
		max-width 360px
		p
			font-size 30px
			line-height 45px
			padding-bottom 98px
			&:last-of-type
				padding-bottom 0
.why
	&-wrap
		display flex
		justify-content space-between
		flex-wrap wrap
		margin-bottom -45px
	&-block
		max-width 400px
		padding-left 55px
		margin-bottom 45px
		h4
			margin-bottom  11px
		p
			color $link-color
	&-top
		position relative
	&-icon
		position absolute
		left -55px
		top 0
	&-arrows
		display flex
		align-items center
		justify-content center
		.btn
			margin-right 12px
			background-color transparent
			border 2px solid $black
			border-radius 50%
			width 60px
			height 60px
			font-size 14px
			&:last-child
				margin-right 0
			&.slick-disabled
				border-color transparent
			&-prev
				transform scale(-1, -1)

.serv
	&-row
		display flex
		margin-bottom 85px
		&:last-child
			margin-bottom 0
		&_reverse
			flex-direction row-reverse
			.serv
				&-info
					h2
						transform translateX(0px)
					p
						padding-right 80px
						padding-left 0
				&-abs
					left -440px
		
	&-pic
		width 62%
		position relative
		background-repeat no-repeat
		background-size 130% 130%
		overflow hidden
	&-info
		overflow hidden
		width 38%
		padding-top 46px
		h2
			transform translateX(-90px)
			margin-bottom 32px
			white-space nowrap
		p
			padding-left 80px
			color $link-color
	&-abs
		position absolute
		white-space nowrap
		top 46px
		left calc(100% - 90px)
	&-show
		display none
		text-align center

			
.special
	&-wrap
		display flex
		justify-content space-between
		position relative
		padding-top 70px
	&-left
		max-width 524px
		padding-top 20px
		h2
			margin-bottom 23px
		p
			max-width 400px
			font-size 20px
			line-height 35px
	&-right
		padding-top 30px
		max-width 375px
		h3
			margin-bottom 30px
	&-decor
		position relative
		display flex
		align-items center
		justify-content center
		margin-left 7px
		width 220px
		height 220px
		border-radius 50%
		background-color $accent
		font-size 20px
		line-height 40px
		text-transform uppercase
		font-weight 500
		border 8px solid $white
		&:before
			content ''
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			width 85%
			height 85%
			background url(../img/main/main-svg-2.png) center no-repeat
			background-size contain

.portfolio
	&-wrap
		display flex
		justify-content space-between
		align-items center
	&__projects
		width 100%
		margin 0
		padding 0
		&-mobile
			display none
			margin 0
			padding 0
	&__item
		margin-bottom 40px
		max-width 480px
		&.active
			.portfolio-name
				color $text-color
				-webkit-text-stroke-width unset
				-webkit-text-stroke-color unset
		&:last-child
			margin-bottom 0
	&__link
		display block
		&-mobile
			display block
	&__photos
		pointer-events none
		position fixed
		top 50%
		transform translateY(-50%)
		max-width 1160px
		margin 0 auto
		width 100%
		height 456px
		padding 0
	&__photo
		width 580px
		height 100%
		position absolute
		right 0
		opacity 0
		visibility hidden
		will-change opacity
		transition $transition
		&.active
			opacity 1
			visibility visible
	&-pic
		height 100%
		img
			height 100%
			width 100%
			max-width none
			object-fit cover
			object-position center
	&__more
		pointer-events auto
		position absolute
		bottom 0
		right 0
		display flex
		align-items center
		justify-content center
		height 86px
		width 86px
		background-color $accent
		font-size 14px
		flex-shrink 0
		&:before
			content ''
			position absolute
			bottom 100%
			left 0
			right 0
			height 0
			background-color $white
			transition $transition
		&:hover
			width 100%
			transition-delay .15s
			&:before
				height 10px
				transition-delay .5s
			.portfolio__more-hover
				opacity 1
				transition-delay .5s
			.portfolio__more-span
				opacity 0
		&-hover
			opacity 0
			width 100%
			text-align center
			position absolute
			transition $transition
		&-span
			opacity 1
			position absolute
			transition $transition
		&-text
			padding-right 20px
			font-size 20px
			line-height 40px
			font-weight 500
			color $black
	&-data
		color $accent
	&-name 
		margin-bottom 10px
	&-hashtag
		color $black2
	&-pic-mob
		margin 0 -30px 10px
		height 350px
		img
			height 100%
			width 100%
			object-fit cover
			object-position center
	&-show
		display none
		text-align center
.contacts
	&-wrap
		display flex
		justify-content space-between
	&-left
		max-width 360px
		position relative
		h2
			margin-bottom 40px
	&-right
		position relative
		max-width 360px
		.contacts-btn
			display none
	&__list
		margin 0
		padding 0
	&__item
		margin-bottom 25px
		&:last-child
			margin-bottom 0
	&-label
		margin-bottom 4px
		color $accent
	&-cont
		a
			display block
			margin-bottom 5px
			font-size 30px
			line-height 45px
			&:last-child
				margin-bottom 0
	&-right
		padding-top 10px
		h3
			margin-bottom 40px
	&-info
		max-width: 260px
		padding-top 39px
		border-top 1px solid #E8E8E8
	&-politics
		display inline-block
		margin-bottom 10px
		text-decoration underline
		&:hover
			text-decoration none
			color $accent
	&-rights
		color $link-color
	&-btn
		position relative
		display flex
		align-items center
		justify-content center
		width 220px
		height 220px
		border-radius 50%
		border 8px solid $white
		background-color $accent
		text-align center
		&:before
			content ''
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%) scale(0)
			opacity 0
			width 100%
			height 100%
			background-color $red2
			border-radius 50%
			transition all 1s ease-in
		&:hover
			&:before
				transform translate(-50%, -50%) scale(1)
				opacity 1
			.inner
				color $white
			.contacts-btn-title
				color $white
			img
				mix-blend-mode multiply
		img
			position absolute
			z-index 1
			width 174px
			top 50%
			left 50%
			transform translate(-50%, -50%)
			mix-blend-mode unset
		.inner
			position relative
			z-index 1
			transition $transition
			transition-delay .5s
		&-title
			font-size 20px
			line-height 40px
			font-weight 500
			text-transform uppercase
			color $black2
			transition $transition
			transition-delay .5s
.ill
	&_main
		width 451px
		height 701px
		bottom 133px
		left 48%
		transform translateX(-50%)
		.ill
			&-el
				&_1
					max-width 44%
					top 0
					left 55%
				&_2
					max-width 30%
					top 15%
					left -2%
				&_3
					max-width 40%
					top 33%
					left 28%
				&_4
					max-width 35%
					top 41%
					left 33%
				&_5
					max-width 22%
					top 52%
					left 43%
				&_mouth
					position absolute
					width 100%
					max-width 194px
					&-1
						top 381px
						left 181px
						transform rotate(45deg)
					&-2
						top 485px
						left 193px
						transform rotate(30deg)
						opacity 0
	&_about
		width 286px
		height 690px
		bottom 210px
		left 152%
		bottom -2vh
		transform translateX(-50%)
		.ill-el
			&_1
				max-width 100%
				bottom 0
				left 0
			&_2
				max-width 85%
				top 46%
				left 10%
			&_3
				max-width 85%
				top 30%
				left 8%
			&_4
				max-width 70%
				top 14%
				left 14%
			&_5
				max-width 80%
				top 0
				left 8%
	&_why
		width 246px
		height 612px
		bottom 210px
		left 50%
		transform translateX(-50%)
		.ill-el
			&_1
				bottom 0
				left 2%
				max-width 100%
			&_2
				top 25%
				left -4%
				max-width 36%
			&_3
				top -4%
				left 20%
				max-width 68%
	&_special
		width 681px
		height 1347px
		bottom -173px
		left 51%
		transform translateX(-50%)
		.ill-el
			&_1
				top 0
				left 0
				max-width 100%
			&_2
				top 52%
				right 0
				max-width 54%
	&_contacts
		width 567px
		height 612px
		bottom 133px
		left 44%
		transform translateX(-50%)
		.ill-el
			&_1
				top 8%
				left 0
				max-width 36%
			&_2
				top 77%
				right 0
				max-width 17%
			&_3
				top 89%
				left 28%
				max-width 14%
			&_4
				top 0
				right 0
				max-width 58%
			&_5
				top 54%
				right 16%
				max-width 220px
	&-mobile
		&_main
			max-width: 217px
			top 150px
			right 50px
		&_about
			max-width: 200px
			top 115px
			right 50px
		&_start
			width: 240px
			height 388px
			bottom 30px
			left 55%
			transform translateX(-50%)
			.ill-el
				&_4
					top 0px
					right -11px
					max-width 167px
				&_5
					left 0
					bottom 0
					max-width 220px
.mobile-start
	display none
	h3
		margin-bottom 10px
	p
		padding-right 32vw
	.contacts-info
		padding-top 0
		border-top none
	.contacts-btn
		width 220px
		height 220px
		border 8px solid $white

.body
	&_cz
		.section_about
			padding 175px 0
		.why-block
			margin-bottom 15px

@media (max-width : 1240px)
	.portfolio__photos
		transform translate(-40px, -50%)
@media (max-width : 1200px)
	.ill_main
		left 44%
	.about-right p
		font-size 20px
		line-height 35px
	.about-right
		max-width: 280px
	.ill_about
		left 50vw
	.why-block
		max-width: 380px
	.ill_contacts
		left 35%
@media (max-width : 1100px)
	.why-block
		max-width: 360px
	
@media (max-width : 991px)
	.main-title 
		font-size 110px
		line-height 80px
	.main-left
		max-width: 197px
	.main-abs-pic
		max-width 175px
		left -45px
	.main-abs-text
		left 132px
		top 175px
		font-size 25px
		line-height 35px
	.ill_main
		width 330px
		height 620px	
		bottom 163px
		left 40%
	.ill_main .ill-el_mouth
		max-width: 164px
	.main-right p
		font-size 15px
		line-height 25px
	.main-right
		max-width: 185px
	.about-left
		position static
		pointer-events auto
		margin-bottom 60px
	.ill_about
		left 80vw
	.about-right
		margin-left 0
		
	.why-block
		max-width 310px
	.ill_why
		display none
	.serv-info p
		padding-left 20px
	.serv-row_reverse .serv-info p
		padding-right 20px
	.serv-info
		padding-top 20px
	.serv-abs
		top 20px
	.serv-row_reverse .serv-abs
		left -261.44px
	.serv-info h2
		margin-bottom 20px
	.serv-row
		align-items flex-start
	.serv-pic
		min-height 200px
	.special-left p
		font-size 15px
		line-height 25px
	.special-left
		max-width 295px
	.special-right
		max-width: 275px
	.ill_special
		width 400px
		height 1000px
		bottom -130px
		left 49%
	.form_call .box-field__label
		font-size 20px
		line-height 35px
	.form textarea
		min-height 37px
	.portfolio__photo
		width 440px
		right 40px
	.ill_contacts
		display none
	.contacts-right .contacts-btn
		display flex
	.contacts-btn
		width 150px
		height 150px
		border: none
	.contacts-info
		margin-bottom 20px

@media (max-width: 767px), (max-height : 699px)
	.section
		&_main
			order 1
		&_about
			order 2
		&_why
			order 3
		&_services
			order 4
		&_call
			order 7
		&_special
			order 5
		&_portfolio
			order 6
		&_contacts
			order 8
	.main-abs-pic
		display none
	.ill_why, 
	.ill_contacts
		display none
		display none
	.ill_main
		display none
	.about-left
		position static
		max-width 100%
	.about-right
		max-width 100%
		padding-right 240px
	.about-left
		margin-bottom 30px
	.about-right p
		padding-bottom 15px
	.portfolio__photos
		display none
	.section_portfolio:before, .section_portfolio:after, .section_services:before, .section_services:after, .section_about:before, .section_about:after
		display none
	.header
		position absolute
	.section_main
		padding 130px 0 30px
	.section_about, 
	.body_cz .section_about
		padding 30px 0 305px
	.body_cz .why-block
		margin-bottom 0
	.main-wrap
		flex-direction column
		align-items flex-start
	.main-right
		max-width: 100%
	.main-left
		margin-bottom 35px
	.main-right .title
		margin-bottom 10px
	.ill_about
		display none
	.about-right p
		font-size 15px
		line-height 25px
	.mobile-start
		display block
	.about-wrap
		margin-bottom 60px
	.section_why .inner h3
		display block
	.why-wrap
		display block
		margin-right -30px
		padding-right 50px
		margin-bottom 11px
		overflow hidden
		.slick-list
			overflow visible
		.slick-track
			display: flex !important;
		.slick-slide
			height: inherit !important;
	.why-block
		max-width 100%
		margin-bottom 0
		padding 26px 20px 20px
		box-shadow inset 0 0 0 2px #E5E5E5
		transition $transition
		&.slick-active
			background-color $black
			box-shadow inset 0 0 0 2px $black
			h4
				color $white
			.why-icon span:before
				color $white
	.why-icon
		position static
		transform none
		height 50px
	.section_why
		padding 30px 0
	.section_services .inner
		display block
	.section_services
		padding 30px 0
		&.active
			.serv-row 
				display flex
			.serv-show
				display none
	.serv-row_reverse
		flex-direction row
	.serv-row
		display none
		flex-direction column
		margin-bottom 30px
		&:nth-child(1),
		&:nth-child(2)
			display flex
	.serv-pic
		width 100vw
		margin 0 -30px 15px
		background-size cover
		background-position center
	.serv-abs
		display none
	.serv-info h2
		transform none
		margin-bottom 10px
		font-size 25px
		line-height 35px
		white-space: initial
		br
			display none
	.serv-info p
		padding-left 0
	.serv-row_reverse .serv-info p
		padding-right 0
	.serv-info
		padding-top 0
		width auto
	.serv-show
		display block
	.section_special
		padding 30px 0
	.special-wrap
		flex-direction column
		padding 0
	.special-left
		padding-top 0
		max-width 100%
		margin-bottom 30px
	.special-left h2
		margin-bottom 17px
	.special-left p
		max-width 100%
	.special-right
		max-width 100%
		text-align center
		padding-top 0
	.mobile-start h3, .section_why .inner h3
		font-size 35px
		line-height 45px
	.mobile-start h3, 
	.mobile-start p
		position relative
		z-index 1
	.special-right h3
		margin-bottom 15px
		font-size 20px
		line-height 30px
	.special-decor
		width 140px	
		height 140px
		border none
		font-size 15px
		margin 0 auto
	.ill_special
		height 178px
		width 479px
		left 50%
		bottom 30px
	.ill_special .ill-el_2
		width 100px
		transform rotate(75deg)
		left 44px
		top 20px
		right auto
	.ill_special .ill-el_1
		right 10px
		left auto
		top 30px
		width 170px
		transform: rotate(90deg)
	.section_portfolio .inner
		display block
	.section_portfolio
		padding 60px 0 30px
		&.active
			.portfolio__item
				display block
			.portfolio-show
				display none
	.portfolio__projects
		display none
		&-mobile
			display block
	.portfolio-pic-mob
		display block
	.portfolio__item
		max-width 100%
		margin-bottom 30px
		display none
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3)
			display block
	.portfolio-data
		display none
	.portfolio-name
		position relative
		padding-right 30px
		font-size 25px
		line-height 35px
		margin-bottom 2px
		color: $black
		-webkit-text-stroke-width: unset
		-webkit-text-stroke-color: unset
		&:after
			content '\e905'
			font-family 'icomoon'
			font-size 14px
			position absolute
			right 0
			top 50%
			transform translateY(-50%)
	.portfolio-show
		display block
	.portfolio-wrap
		display block
	.section_call
		padding 30px 0
		.inner
			display block
	.form_call .box-field__label
		position absolute
		bottom 4px
	.section_contacts
		padding 30px 0
	.contacts-wrap
		display block
	.contacts-left h2
		margin-bottom 30px
	.contacts-cont a
		font-size 20px
		line-height 30px
		color $black
	.contacts__item
		margin-bottom 20px
	.contacts-right
		padding-top 0
		max-width 100%
	.contacts-right h3
		display none
	.contacts-left
		max-width 100%
		margin-bottom 60px
	.contacts-info
		max-width 100%
		text-align center
	.contacts-right .contacts-btn
		display none
	.form_call .box-field
		margin-bottom 30px
		position relative

@media (max-width: 580px)
	.ill-mobile_main
		right -50px
		top 76px
	.ill-mobile_about
		top 173px
		right -75px
		width 150px
	.about-right
		padding-right 60px
	.mobile-start p
		padding-right 0
		max-width: 188px
	.ill-mobile_start
		left 53%
		bottom 22px
	.serv-pic
		min-height 100px
	.portfolio-pic-mob
		height 252px