.footer
	width 100%
	min-width $min-width
	order 3

/*==========  Desktop First  ==========*/
// @media (max-width : 1440px)
/* Large Devices, Wide Screens */
// @media (max-width : 1200px)
/* Medium Devices, Desktops */
// @media (max-width : 991px)
/* Small Devices, Tablets */
// @media (max-width : 767px)
/* Small Devices, Tablets */
// @media (max-width : 576px)
/* Small Devices, Tablets */
// @media (max-width : 480px)
/* Custom, iPhone Retina */
// @media (max-width : 380px)