.footer
	position fixed
	z-index 9999
	bottom 10px
	width 100%
	min-width $min-width
.menu	
	display flex
	align-items center
	justify-content center
	list-style none
	padding 0 0 20px 0
	margin 0
	li
		&.active
			a
				font-weight 500
				text-transform uppercase
				color $black2
	a
		display block
		min-width 166px
		font-size 20px
		line-height 40px
		color rgba($black2, .5)
		text-align center
		text-transform lowercase
		&:hover
			color $black2
	&-decor
		position absolute
		bottom 0
		font-size 13px
		line-height 25px
		color rgba($black2, .5)
		&:before,
		&:after
			content ''
			position absolute
			top 50%
			width 7px
			height 7px
			border 1px solid $grey
			transform translateY(-50%) rotate(45deg)
		&:before
			right calc(100% + 10px) 
			border-top none
			border-right none
		&:after
			left calc(100% + 10px) 
			border-bottom none
			border-left none
/*==========  Desktop First  ==========*/
// @media (max-width : 1440px)
/* Large Devices, Wide Screens */
// @media (max-width : 1200px)
/* Medium Devices, Desktops */
// @media (max-width : 991px)
/* Small Devices, Tablets */
// @media (max-width : 767px)
/* Small Devices, Tablets */
// @media (max-width : 576px)
/* Small Devices, Tablets */
// @media (max-width : 480px)
/* Custom, iPhone Retina */
// @media (max-width : 380px)