.header
	position fixed
	z-index 9999
	top 0
	width 100%
	min-width $min-width
	&-wrap
		display flex
		justify-content space-between
	&-right
		display flex
.logo
	margin-top 40px
	max-width 100px
	flex-shrink 0
.lang
	margin-right 20px
	&__list
		padding 0
		margin 0
		display flex
		width 110px
	&__item
		width 50%
		&.active
			.lang__link
				color $black2
				&:after 
					background-color $accent
	&__link
		position relative
		padding-top 38px
		display block
		font-size 20px
		line-height 40px
		text-align center
		text-transform lowercase
		&:hover
			color $black2
		&:after
			content ''
			position absolute
			top 0
			left 0
			right 0
			height 6px
			background-color rgba(0, 0, 0, 0.076)
			transition $transition
.recall
	width 160px
	height 116px
	display flex
	flex-direction column
	justify-content center
	align-items center
	background-color $accent
	span
		color $black2
		font-weight 500
		&[class^='icon-']
			font-size 30px
			line-height 1
		&:last-child
			font-size 20px
			line-height 40px
			text-transform lowercase
		
	
/*==========  Desktop First  ==========*/
// @media (max-width : 1440px)
/* Large Devices, Wide Screens */
// @media (max-width : 1200px)
/* Medium Devices, Desktops */
// @media (max-width : 991px)
/* Small Devices, Tablets */
// @media (max-width : 767px)
/* Small Devices, Tablets */
// @media (max-width : 576px)
/* Small Devices, Tablets */
// @media (max-width : 480px)
/* Custom, iPhone Retina */
// @media (max-width : 380px)
